.App {
	text-align: center;
}

.App-logo {
	animation: App-logo-spin infinite 20s linear;
	height: 40vmin;
	pointer-events: none;
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

.container-fluid {
	padding: 0 !important;
}

@keyframes animate2 {
	0% {
		transform: scale(1);
		opacity: 1;
	}
	90% {
		transform: scale(5);
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}

@keyframes animate3 {
	0% {
		transform: scale(1);
		opacity: 1;
	}
	90% {
		transform: scale(3);
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}
.cluster-marker::before,
.marker-btn::before,
.marker-btn.mylocation::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: inherit;
	border-radius: 50%;
	animation: animate2 1.5s linear infinite;
	z-index: -1;
}
.marker-btn.mylocation::before {
  animation: animate3 1.5s linear infinite;
}
.cluster-marker {
	width: 20px;
	height: 20px;
	color: #fff;
	background: #f4891e;
	border-radius: 20px;
	text-align: center;
}
.marker-btn {
	height: 15px;
	width: 15px;
	border-radius: 50%;
	background: '#f28a25';
}
.marker-btn.mylocation {
  background-color: #61dafb;
  border: 2px solid #fff;
}

.marker-btn .dot {
	height: 15px;
	width: 15px;
	background-color: #61dafb;
	border-radius: 50%;
	display: inline-block;
}
div.user-location .location-icon path {
	transition: all 0.1s ease-in-out;
}
div.user-location {
	z-index: 10;
	cursor: pointer;
	align-items: center;
	font-family: 'Product Sans';
	position: relative;
	font-size: 1rem;
	margin: 0.5em;
	display: flex;
	justify-content: space-between;
	background-color: #fff;
	/* padding: 1em 1em; */
	margin: 0.5em;
	border-radius: 0.4em;
	margin-top: 1em;
	margin-right: 1.5em;
	box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
div.user-location {
	padding: 1em;
}

div.user-location span.loading {
	font-size: 0.8em;
	font-weight: light;
	margin-left: 1em;
	display: none;
}
ul.quakelist {
	position: relative;
	font-size: 1rem;
	font-family: 'Product Sans';
	padding: 0;
	margin: 0;
	margin-top: -0.5em;
	margin-right: 1em;
	list-style: none;
	padding-bottom: 1em;
	max-height: calc(100vh - 4.7em);
	overflow-y: scroll;
}

ul.quakelist li {
	position: relative;
	background-color: #fff;
	/* padding: 1em 1em; */
	margin: 0.5em;
	border-radius: 0.4em;
	margin-top: 1em;
	box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
	overflow: hidden;
	z-index: 1;
}

ul.quakelist .myGrid {
	display: grid;
	grid-template-columns: 90px minmax(100px, auto);
}
hr {
	border: none;
	height: 1px;
	background-color: rgba(204, 204, 204, 0.632);
}
@keyframes animate {
	0% {
		transform: scale(1);
		opacity: 0.5;
	}
	90% {
		transform: scale(2);
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}

ul.quakelist .magnitude-container {
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}

ul.quakelist .magnitude-circle {
	position: relative;
	width: 3.5em;
	height: 3.5em;
	display: flex;
	background-color: red;
	border-radius: 100%;
	align-items: center;
	justify-content: center;
}

ul.quakelist .magnitude-circle::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: inherit;
	border-radius: 50%;
	animation: animate 1.5s linear infinite;
	z-index: -1;
}
ul.quakelist .magnitude {
	font-size: 1.6em;
	font-variant-numeric: tabular-nums;
	color: #fff;
}

ul.quakelist .title {
	font-size: 1.2em;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	width: 100%;
	display: inline-block;
}

ul.quakelist .distance {
	display: flex;
	align-items: center;
	font-weight: 300;
}

ul.quakelist .time {
	width: 80%;
}
ul.quakelist .distance .locationIcon {
	margin-left: 0.5em;
}

.search-bar-container {
	z-index: 100;
	font-size: 1rem;
	width: 100%;
	padding-top: 1em;
	position: relative;
}
.search-bar-container input[type="search"] {
	outline: none;
	padding: 0.8em;
	padding-right: 2em;
	text-indent: 1em;
	border-radius: 1.5em;
	font-family: 'Product Sans', sans-serif;
	font-weight: 400;
	width: 100%;
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	border: none;
	font-size: 1em;
	box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
}

.search-bar-suggestions {
	z-index: 110;
	position: absolute;
	border: 1px solid #d4d4d4;
	border-bottom: none;
	border-top: none;
	/*position the autocomplete items to be the same width as the container:*/
	top: 100%;
	margin-top: 0.7em;
	left: 5px;
	right: 5px;
	overflow-x: scroll;
	border-radius: 0.5em;
	box-shadow: 0 4px 6px 0 rgba(32, 33, 36, 0.28);
	box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
}

.search-bar-suggestions div {
	padding: 10px;
	cursor: pointer;
	background-color: #fff;
}

.mdc-button {
	font-family: 'Product Sans', sans-serif;
}
